[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
tensorflow = "*"
keras = "*"
matplotlib = "*"

[requires]

python_version = "3.6"